# Installing and Using SQL in Python
https://www.sqlite.org/cli.html
https://www.python-course.eu/sql_python.php


## Import sqlite and create connection to database
* To use a database, first create connection object to represents the database. 
* The argument of connection ("examples.db") functions both as the name of the file, where the data will be stored, and the name of the database. 
* If a file with this name exists (SQLite database file) it will be opened, but the file does not have to exist.:

In [2]:
import sqlite3 as sqlt
connection = sqlt.connect("examples.db")
cursor = connection.cursor()

## Call the cursor() method of connection. 
Generally, a cursor in SQL and databases is a control structure to traverse over the records in a database and returning results. 
* An arbitrary number of cursors can be created. 
* The cursor raverses the records from the result set. 
* SQL command is defined with a triple quoted string in Python:

In [33]:
# Drop the table, if it already exists in examples.db 
cursor.execute("""DROP TABLE family_members;""")

In [34]:
sql_command = """
CREATE TABLE family_members ( 
id INTEGER PRIMARY KEY, 
name VARCHAR(10), 
gender VARCHAR(10), 
species VARCHAR(10), 
num_books_read CHAR(3) );"""

cursor.execute(sql_command)

# Use 'INSERT' command to populate the table. 
* Again using the execute method, adding single rows one at a time...
* To run the program you will either have to remove the file company.db or uncomment the "DROP TABLE" line in the SQL command:

In [18]:
sql_command = """INSERT INTO family_members (id, name, gender, species, num_books_read)
    VALUES (1, 'Dave', 'male', 'human', 200);"""
cursor.execute(sql_command)

sql_command = """INSERT INTO family_members (id, name, gender, species, num_books_read)
    VALUES (2, 'Mary', 'female', 'human', 180);"""
cursor.execute(sql_command)

# Run the COMMIT command to save changes:
connection.commit()

#connection.close()

## Use data from dict or list as input to insert statement. 
* A list with data of persons to be used in the INSERT statement:

In [35]:
fam_data = [ (1, 'Dave', 'male', 'human', 200),
               (2, 'Mary', 'female', 'human', 180),
               (3, 'Pickles', 'male', 'dog', 0) ]
               
for p in fam_data:
    format_str = """INSERT INTO family_members (id, name, gender, species, num_books_read)
    VALUES (NULL, '{name}', '{gender}', '{species}', '{num_books_read}');"""

    sql_command = format_str.format(id=p[0],name=p[1], gender=p[2], species=p[3],num_books_read=p[4])
    cursor.execute(sql_command)

## Query sql table, first select all rows, and then select a single row:

In [36]:
cursor.execute("""SELECT*FROM family_members""")
print("fetchall:")
result = cursor.fetchall() 
for r in result:
    print(r)

cursor.execute("SELECT * FROM family_members") 
print("\nfetch one:")
res = cursor.fetchone() 
print(res)

fetchall:
(1, 'Dave', 'male', 'human', '200')
(2, 'Mary', 'female', 'human', '180')
(3, 'Pickles', 'male', 'dog', '0')

fetch one:
(1, 'Dave', 'male', 'human', '200')

In [ ]:
## Examples and Exercises from SQL Teaching
https://www.sqlteaching.com/#!select