# Installing and Using `SQL` in Python
https://www.sqlite.org/cli.html
https://www.python-course.eu/sql_python.php


## Import `sqlite` and create connection to database
* To use a database, first create connection object to represents the database. 
* The argument of connection ("examples.db") functions both as the name of the file, where the data will be stored, and the name of the database. 
* If a file with this name exists (SQLite database file) it will be opened, but the file does not have to exist.:

In [1]:
import sqlite3 as sqlt
connection = sqlt.connect("examples.db")
cursor = connection.cursor()

## Call the cursor() method of connection. 
Generally, a cursor in SQL and databases is a control structure to traverse over the records in a database and returning results. 
* An arbitrary number of cursors can be created. 
* The cursor raverses the records from the result set. 
* SQL command is defined with a triple quoted string in Python:

In [3]:
# Drop the table, if it already exists in examples.db 
cursor.execute("""DROP TABLE family_members;""")

In [4]:
sql_command = """
CREATE TABLE family_members ( 
id INTEGER PRIMARY KEY, 
name VARCHAR(10), 
gender VARCHAR(10), 
species VARCHAR(10), 
num_books_read CHAR(3) );"""

cursor.execute(sql_command)

# Use 'INSERT' command to populate the table. 
* Again using the execute method, adding single rows one at a time...
* To run the program you will either have to remove the file company.db or uncomment the "DROP TABLE" line in the SQL command:

In [ ]:
sql_command = """INSERT INTO family_members (id, name, gender, species, num_books_read)
    VALUES (1, 'Dave', 'male', 'human', 200);"""
cursor.execute(sql_command)

sql_command = """INSERT INTO family_members (id, name, gender, species, num_books_read)
    VALUES (2, 'Mary', 'female', 'human', 180);"""
cursor.execute(sql_command)

# Run the COMMIT command to save changes:
connection.commit()

#connection.close()

## Use data from dict or list as input to insert statement. 
* A list with data of persons to be used in the INSERT statement:

In [5]:
fam_data = [ (1, 'Dave', 'male', 'human', 200),
               (2, 'Mary', 'female', 'human', 180),
               (3, 'Pickles', 'male', 'dog', 0) ]
               
for p in fam_data:
    format_str = """INSERT INTO family_members (id, name, gender, species, num_books_read)
    VALUES (NULL, '{name}', '{gender}', '{species}', '{num_books_read}');"""

    sql_command = format_str.format(id=p[0],name=p[1], gender=p[2], species=p[3],num_books_read=p[4])
    cursor.execute(sql_command)

## Examples and Exercises from SQL Teaching
https://www.sqlteaching.com/#!select

## Use SELECT command to query sql table
* Asteryx selects all columns from table: `SELECT * FROM family_members`
* First, iterating over, selecting all columns and all rows,

In [8]:
cursor.execute("""SELECT * FROM family_members""")
print("fetchall:")
result = cursor.fetchall() 
for r in result:
    print(r)

fetchall:
(1, 'Dave', 'male', 'human', '200')
(2, 'Mary', 'female', 'human', '180')
(3, 'Pickles', 'male', 'dog', '0')

### Select specific columns indicated in query

In [11]:
cursor.execute("SELECT name, num_books_read FROM family_members") 
result = cursor.fetchall() 
for r in result:
    print(r)

('Dave', '200')
('Mary', '180')
('Pickles', '0')

## Use WHERE keyword to select rows by given feature

In [12]:
cursor.execute("SELECT * FROM family_members WHERE species = 'dog'") 
res = cursor.fetchone() 
print(res)

(3, 'Pickles', 'male', 'dog', '0')

### Use Boolean with WHERE command to select rows

In [14]:
cursor.execute("SELECT * FROM family_members WHERE num_books_read > 0") 
result = cursor.fetchall() 
for r in result:
    print(r)

(1, 'Dave', 'male', 'human', '200')
(2, 'Mary', 'female', 'human', '180')

### Return all rows where num_books_read is greater or equal to 180?
SQL accepts various inequality symbols, including: 
* "greater than" `>` 
* "greater than or equal to" `>=` 
* "less than" `<` 
* "less than or equal to" `<=`

In [16]:
cursor.execute("SELECT * FROM family_members WHERE num_books_read >= 180") 
result = cursor.fetchall() 
for r in result:
    print(r)

(1, 'Dave', 'male', 'human', '200')
(2, 'Mary', 'female', 'human', '180')

## Use AND / OR keywords to query by multiple attributes
* Create new table, and populate from list
* Create compound query with two search criteria
* Return entries  in height and are cats

In [60]:
# Drop the table, if it already exists in examples.db 
cursor.execute("""DROP TABLE friends_of_pickles;""")

In [61]:
sql_command = """
CREATE TABLE friends_of_pickles ( 
id INTEGER PRIMARY KEY, 
name VARCHAR(10), 
gender VARCHAR(10), 
species VARCHAR(10), 
height_cm CHAR(5) );"""

cursor.execute(sql_command)

fam_data = [ (1, 'Dave', 'male', 'human', 180),
             (2, 'Mary', 'female', 'human', 160),
             (3, 'Fry', 'male', 'cat', 30), 
             (3, 'Leela', 'female', 'cat', 25),
             (3, 'Odie', 'male', 'dog', 40),
             (3, 'Jumpy', 'male', 'dog', 35),
             (3, 'Sneakers', 'male', 'dog', 55)]
               
for p in fam_data:
    format_str = """INSERT INTO friends_of_pickles (id, name, gender, species, height_cm)
    VALUES (NULL, '{name}', '{gender}', '{species}', '{height_cm}');"""

    sql_command = format_str.format(id=p[0],name=p[1], gender=p[2], species=p[3], height_cm=p[4])
    cursor.execute(sql_command)

In [62]:
cursor.execute("SELECT * FROM friends_of_pickles WHERE species='dog' AND height_cm < 45")
result = cursor.fetchall() 
for r in result:
    print(r)

(5, 'Odie', 'male', 'dog', '40')
(6, 'Jumpy', 'male', 'dog', '35')

In [64]:
# species='dog' OR height_cm < 50

cursor.execute("SELECT * FROM friends_of_pickles WHERE species='dog'")  
result = cursor.fetchall() 
for r in result:
    print(r)

(5, 'Odie', 'male', 'dog', '40')
(6, 'Jumpy', 'male', 'dog', '35')
(7, 'Sneakers', 'male', 'dog', '55')

In [ ]:
### Close the SQLite connection at end of the session
connection.close()

<br>
## Using MySQL in Python
* MySQLdb does not support Python 3 but it is not the only MySQL driver for Python: https://stackoverflow.com/questions/23376103/python-3-4-0-with-mysql-database
* `PyMySQL` is a pure python MySQL driver, which means it is slower, but it does not require a compiled C component or MySQL libraries and header files to be installed on client machines. It has Python 3 support.
* Install pymysql in the terminal shell: `python3 -m pip install pymysql`

import pymysql
import pymysql.cursors

# Connect to database
connection = pmsql.connect (host='localhost',
                            user='root',
                            db = 'examples')

cursor = connection.cursor()
cursor.execute ("SELECT*FROM examples;")

print("cursor.description", cursor.description)
print()
cursor.close()

#connection.close()